@model List<MVCProject.Models.Patient>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Patients</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var patient in Model)
        {
            <tr>
                <td>@patient.Name</td>
            </tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = patient.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = patient.Id })
            </td>
        }
    </tbody>
</table>

